body {
	display: grid;
	grid-template-rows: auto 1fr;
}

p,
h1,
h2,
h3,
h4,
label,
input,
button,
select {
	font-family: "Didact Gothic";
	color: var(--dk-txt-col);
}

#navContainer {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: start;
	padding-left: 0.7rem;
	column-gap: 0.7rem;
}

#navContainer::before {
	position: absolute;
	content: "";
	inset: 0px;
	top: 100%;
	bottom: -2px;
	background: linear-gradient(to bottom, var(--dk-txt-col-t3), transparent);
}

#logo {
	place-self: center end;
	width: calc(1.4rem + 1.6rem);
	aspect-ratio: 0.99/1;
}

.nav {
	text-align: center;
	font-size: 1.4rem;
}

.nav > p {
	padding: 0.8rem 1.2rem;
	font-weight: 600;
}

.nav:is(:not(.currentPage)):hover {
	background-color: var(--dk-txt-col-t1);
}

.currentPage {
	background-color: var(--dk-txt-col-t3);
	box-shadow: 0px 0px 3px 1px var(--dk-txt-col-t8);
}

#mainContainer {
	position: relative;
	display: grid;
	height: 100%;
	padding-top: 1.2rem;

	grid-template-rows: auto 4rem 1fr;
	grid-template-columns: 80%;
	row-gap: 1.2rem;
	justify-content: center;
}

#actionsPanel {
	display: grid;
	align-self: center;
	grid-template-columns: auto;
}

.actionsContainer {
	display: grid;
	width: min-content;
	grid-template-columns: repeat(3, 1fr);

	background: var(--success-green);
	border-radius: 5px;
}

.actionsContainer > button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.6rem 1.2rem;
	border-radius: 5px;
}

#actionsPanel i {
	font-size: 1.2rem;
}

#actionsPanel button:hover {
	background-color: var(--white-t5);
}

.dataTable {
	display: grid;
	height: 100%;
	overflow: clip;
	font-size: 1.1rem;
	grid-auto-rows: auto;
}

.dataTable input {
	position: relative;
	appearance: none;
	width: 1.4rem;
	height: 1.4rem;
	background-color: var(--white);
	border: 2px solid var(--dk-txt-col);
	border-radius: 6px;
}

.dataTable input:checked {
	border: 2px solid var(--dk-txt-col);
	background-color: var(--dk-txt-col);
}

.dataTable input::after {
	position: absolute;
	content: "\f00c";
	inset: 0px;
	top: 0.1rem;
	font: var(--fa-font-solid);
	text-align: center;
	font-size: 1rem;
	color: var(--white);
}

.dataTable p {
	margin: 0 5px;
	text-align: center;
	overflow-wrap: anywhere;
}

.row {
	cursor: pointer;
	position: relative;
	display: grid;
	width: fit-content;
	grid-auto-flow: column;
	grid-template-columns: var(--grid-cols);
	place-items: center;
	opacity: 1;
	transition: transform 0.4s linear, opacity 0.4s linear;
}

.row:first-child::after {
	position: absolute;
	content: " ";
	inset: 0px;
	border: 2px solid var(--dk-txt-col);
}

.row:not(:first-child)::after {
	position: absolute;
	content: " ";
	inset: 0px;
	top: calc(100% - 1px);
	border-bottom: 1px solid var(--dk-txt-col-t8);
}

.row:nth-child(even) {
	background-color: var(--dk-txt-col-t1);
}

.column:nth-child(even) {
	background-color: var(--dk-txt-col-t1);
	width: 100%;
	height: 100%;
	display: grid;
	padding: 0.4rem 0;
	align-content: center;
}

.row:has(input:checked) {
	background-color: var(--success-green);
}

.row:has(input:checked) .column:nth-child(even) {
	background-color: var(--success-green);
}

@keyframes Fade-in {
	0% {
		transform: translate(0px, 50px);
		opacity: 0;
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.rowFadeIn {
	--delay: 0s;
	opacity: 0;
	animation: Fade-in 0.6s ease-in-out forwards var(--delay);
}

.complete {
	transform: translateX(50%);
	opacity: 0.00001;
}

/*!----------------
    Add payment dialog
   ----------------*/

dialog {
	border: unset;
	position: fixed;
	inset: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;

	background-color: var(--dk-txt-col-t3);

	display: grid;
	align-content: center;
	justify-items: center;
}

#paymentForm {
	position: relative;
	padding: 2.4rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	row-gap: 1.2rem;

	background: var(--white);
	box-shadow: 0px 0px 5px 3px var(--dk-txt-col-t5);
	border-radius: 15px;
}

#paymentFormContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: auto;
	gap: 1.2rem 0.6rem;
}

.inputContainer {
	display: grid;
	row-gap: 0.4rem;
}

.inputContainer > label {
	grid-row: 1 / 2;
	font-size: 1.2rem;
}

.inputContainer > input {
	border-radius: 8px;
	border: 2px solid var(--dk-txt-col);
	padding: 0.3rem;
	font-size: 1.2rem;
}

.inputContainer:has(input:disabled),
.inputContainer:has(select:disabled) {
	opacity: 0.5;
	filter: blur(1px);
}

.inputContainer > select {
	border-radius: 8px;
	border: 2px solid var(--dk-txt-col);
	padding: 0.3rem;
	font-size: 1.2rem;
	font-weight: 500;
}

dialog[data-action="edit"] .inputContainer:has(select),
dialog[data-action="add"] .inputContainer:has(input[name="amount"]) {
	display: none;
}

#addButton {
	grid-column: 1 / -1;
	place-self: center;
	padding: 0.6rem 1.2rem;
	font-size: 1.2rem;
	border-radius: 5px;
	background-color: var(--success-green);
}

#addButton:hover {
	box-shadow: inset 0px 0px 1px 1px var(--dk-txt-col);
}

.closeDialog {
	cursor: pointer;
	position: absolute;
	display: grid;
	top: 1rem;
	right: 1rem;
	width: 1.7rem;
	height: 1.7rem;
	align-content: center;
	justify-items: center;

	font-size: 1.6rem;
	border-radius: 50%;
}

.closeDialog:hover {
	background-color: var(--dk-txt-col-t2);
}

.hidden {
	display: none !important;
}
